<div class="card">
    <h5 class="card-header">{{ snippet.name }}<a href="{% url 'user_snippets' %}"  class="float-right"><small>{{ snippet.user }}</small></a></h5>
    <div class="card-body">
        <a href="{% url 'language' %}"><h5 class="card-title">{{ snippet.name }}</h5></a> 
        <h6 class="card-subtitle mb-2 text-muted">Creado: {{ snippet.created|timesince }}</h6>
        <p class="card-text">{{ snippet.description }}</p>
        <hr>
        <a href="{% url 'snippet' snippet.pk %}" class="btn btn-primary">Ver</a>
        {% url 'index' as index_url %}
        {% if user.is_authenticated and snippet.user == user and request.path != index_url %}
        <a href="{% url 'snippet_edit' snippet.pk %}" class="btn btn-info">Editar</a>
        <a href="{% url 'snippet_delete' snippet.pk %}" class="btn btn-danger">Eliminar</a> 
        {% endif %}
    </div>
</div>
<br>